.clock {
    width: 100px;
    height: 100px;
    background-image: url(../img/liczbynowe1.png);
}

@keyframes odliczanie {
    0% {
        background-position: 0 -1000px;
    }
    100% {
        background-position: 0 0px;
    }
}

#zegar {
    animation: odliczanie 10s steps(10);
}
